    *{margin: 0; padding: 0;}
    .header {
        background-color:rgb(0, 0, 0); 
        padding: 15px 0; 
        width: 100%;  }
    .header a {
        color: rgb(207, 0, 0);  
        font-family:fantasy;
        font-weight:100;
        font-size: 23px;
        margin: 0 15px;      
        text-decoration: none;}

        body{background-color: rgb(191, 191, 191);
        background-repeat: no-repeat; 
        background-size: cover;
         background-size: cover; 
        background-attachment: fixed; }

        .footer {
            background-color: rgb(0, 0, 0);
            margin-top: 10px;
            color: white;
            text-align: center;
            padding: 15px 0;
            width: 100%;
            bottom: 0;}

.site-title
{
    margin: 0;
}

/* 메인 콘텐츠 영역 (기사 + 사이드 나란히 */
.news-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;                          /* article과 aside 사이 간격 */
    margin: 40px auto;
    max-width: 1100px;
    padding: 0 20px;
}

/* 기사 본문 */
.news-article
{
    flex: 2;
    background-color: white;
    padding: 30px;                      /* 내부 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news-title
{
    font-size: 24px;
    margin-bottom: 10px;
}

.news-date
{
    color: #d50000;
    font-size: 14px;
    margin-bottom: 20px;
}

/* 이미지 */
.news-image
{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 본문 문단 */
.news-content
{
    line-height: 1.7;
    color: #000000;
    margin-bottom: 15px;            /* 문딘 간 간격 */
}

/* 오른쪽 사이드 영역 */
.news-aside
{
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-section
{
    margin-bottom: 25px;
}

.sub-title
{
    font-size: 18px;
    color: #003366;
    margin-bottom: 10px;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
}

.sub-list
{
    list-style: none;
    padding-left: 0;
}

.sub-list li
{
    margin-bottom: 8px;
    line-height: 1.5;
    color: #444;
}


/* 반응형 (화면이 좁을 때 세로 정렬) */
@media (max-width: 900px) 
{
    .news-container
    {
        flex-direction: column;
        align-items: center;
    }
    .news-aside
    {
        width: 100%;
    }
}